.container.portfolio
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        = title
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/portfolio"} Portfolio
        %li.active= title
  / /.row
  / Portfolio Item Row
  .row
    .col-md-8
      #carousel-example-generic.full-view-avail.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        - if images.size > 1
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            - (images.size - 1).times do |i|
              %li{"data-slide-to" => (i+1).to_s, "data-target" => "#carousel-example-generic"}
        / Wrapper for slides
        .carousel-inner
          .item.active
            %img.img-responsive{alt: "", src: "/assets/images/projects/#{name}/#{images[0]}"}
          - images[1..-1].each do |i|
            .item
              %img.img-responsive{alt: "", src: "/assets/images/projects/#{name}/#{i}"}

        / Controls
        - if images.size > 1
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-right
    .col-md-4
      %h3 Project Description
      %p= description
      %h3 Project Details
      %ul
        - details.each do |d|
          %li= d

  -#
    / Related Projects Row
    .row
      .col-lg-12
        %h3.page-header Related Projects
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/
      .col-sm-3.col-xs-6
        %a{:href => "#"}
          %img.img-responsive.img-hover.img-related{:alt => "", :src => "http://placehold.it/500x300"}/

  %hr/